body{
  width: 500px;
  height: 800px;
  margin:50px auto;
  border: 2px solid rgb(223, 216, 216);
  padding: 20px 20px;
}

div{
  margin-top:20px;
}
.description{
  margin-top:0px;
}

input:valid + .invalid{
  visibility:hidden;
}

input:invalid + .invalid {
  visibility: visible;
}

input:required{
  border-bottom:2px solid #c33;
}

.invalid{
  color:#999;
}

input:valid{
  border-bottom:transparent;
}
